* {
  margin: 0;
  padding: 0;
}

.navBar {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.navbar-elements {
  margin: 0 35px;
}

.img-home {
  border-radius: 15px;
  margin: 25px;
  transition: all 0.3s ease-in-out;
  width: 180px;
  border: 2px solid red;
}

.img-home:hover {
  transform: scale(1.15);
}

.img-home:active {
  transform: scale(0.8);
}

.home-plot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 25px;
  width: 230px;
  height: 280px;
  border: 2px solid blue;
}

.hover-show {
  margin-top: 10px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.home-movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  border: 2px solid red;
}

.review-img {
  width: 150px;
}

.profile {
  border: 2px solid red;
  width: 50px;
  margin-right: 50px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 25px;
  border: 2px solid purple;
  width: 300px;
  min-height: 350px;
}

.search-form {
  border: 2px solid blue;
}

li {
  list-style-type: none;
}

.genre-element {
  margin: 15px;
}

.artists-container {
  border: 2px solid red;
}

.albumsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: 2px dotted purple;
  flex-basis: 100%;
  width: 850px;
}

.album-card {
  display: flex;
  flex-direction: column;
  border: 2px dotted black;
  height: 100px;
  width: 25%;
  margin: 25px;
}

/* PROFILE PAGE */

.profile-container {
  display: flex;
  border: 2px solid black;
}

.profile-information {
  width: 25%;
  border: 2px solid blue;
}

/* COMMENTS */

.comment-card {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}
